{% extends 'base/base.html' %} 
{% load static %}

{% block titulo %}Contactanos{%endblock %} 

{% block content %}
<div class="container">
  <!-- Contact Section -->
    <section class="contact fade-up" id="contact">
        <div class="contact-container">
            <div class="section-header">
                <h2 class="section-title">Contactanos</h2>
                <p class="section-subtitle">Equipo DEVS con atención 24hs</p>
                {% if messages %}
                <div class="messages-container">
                  {% for message in messages %}
                  <br><br>
                    <div class="alert alert-{{ message.tags }} devs-alert " style="color: green; background-color: black; border-radius: 99px;">
                      {{ message }}
                    </div>
                  {% endfor %}
                </div>
                {% endif %}
            </div>
            
            <div class="contact-form-wrapper">
                <div class="contact-form">
                    <form method="POST">
                      {% csrf_token %}

                      <div class="form-group">
                          <label>Título</label>
                          <input type="text" name="titulo" class="form-control" required>
                      </div>
                  
                      <div class="form-group">
                          <label>Email</label>
                          <input type="email" name="email" class="form-control" required>
                      </div>
                  
                      <div class="form-group">
                          <label>Mensaje</label>
                          <textarea name="mensaje" rows="5" class="form-control" required></textarea>
                      </div>
                  
                      <button type="submit" class="btn-primary btn-submit">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}