/* BOTON Actualizar */
.update-buttons { 
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-edit-post, .btn-eliminar-comment {
    background: transparent;
    padding: 0.5rem 2.5rem;
    border: 2px solid;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    clip-path: polygon(20px 0%, 100% 0%, calc(100% - 20px) 100%, 0% 100%);
}

.btn-edit-post {
    color: var(--neon-purple);
    border-color: var(--neon-purple);
}

.btn-edit-post:hover {
    background: var(--neon-purple);
    color: var(--darker-bg);
    box-shadow: 0 0 30px var(--neon-purple);
}

.btn-eliminar-comment{
    color: var(--primary-cyan);
    border-color: var(--primary-cyan);
}

.btn-eliminar-comment:hover {
    background: var(--primary-cyan);
    color: var(--darker-bg);
    box-shadow: 0 0 30px var(--primary-cyan);
}