{% extends 'base/base.html' %}
{% load static %}


{% block titulo %}Nosotros{%endblock %} 
{% block content %}
<section class="hero">
            <div class="hero-container">
                <h1 class="hero-title">
                    <span class="hero-nexus">DEVS</span><span class="hero-flow">team</span>
                </h1>
                <p class="hero-subtitle">Software Systems for INFORMATORIO 2025 - COMISIÓN 1</p>
                <p>Desarrollado por el equipo DEVS: </p>
                <p class="footer-credit"><a href="https://www.instagram.com/gonzaa.leivaa/" target="_blank" rel="noopener nofollow">Leiva Gonzalo</a></p>
                <p class="footer-credit"><a href="https://www.instagram.com/gbl.fz/" target="_blank" rel="noopener nofollow">Fernandez Gabriel</a></p>
                
            </div>
       </section>
{% endblock %}