{% load static %}
<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <title>Panel Administración</title>
    <!-- TEMPLATE LINKS CSS -->
    <link
      rel="stylesheet"
      href="{% static 'users/dashboard/assets/css/styles.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'users/dashboard/assets/libs/simplebar/dist/simplebar.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'users/dashboard/assets/css/icons/tabler-icons/tabler-icons.css' %}"
    />
    <link rel="stylesheet" href="{% static 'dashboard/css/darkmode.css' %}">
    
    
  </head>

  <body>
    
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <!-- NavbarADM START -->
      {% include 'dashboard/secciones/navbaradmin.html' %}
      <!-- NavbarADM END -->

      <!-- Sidebar Start -->
      {% include 'dashboard/secciones/asidebaradmin.html' %}
      <!--  Sidebar End -->

      <!--  Main wrapper -->
      <div class="body-wrapper">
        <!--  Header Start -->
        {% include 'dashboard/secciones/header.html' %}
        <!--  Header End -->

        {% block content %}
        {% include 'dashboard/dashboardIndex.html' %}
        {% endblock %}
      </div>
    </div>
    
    <!-- TEMPLATES SCRIPTS -->
    <script src="{% static 'users/dashboard/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'users/dashboard/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'users/dashboard/assets/libs/simplebar/dist/simplebar.min.js' %}"></script>
    <!-- <script src="{% static 'users/dashboard/assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script> -->

    <script src="{% static 'users/dashboard/assets/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'users/dashboard/assets/js/app.min.js' %}"></script>
    

    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <!-- DarkMode para Dashboard -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'users/dashboard/assets/js/dashboard.js' %}"></script>
  </body>
</html>
