{% load static %}
<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Panel Administración</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'users/dashboard/assets/images/logos/favicon.png' %}"
    />
    <!-- TEMPLATE LINKS CSS -->
    <link
      rel="stylesheet"
      href="{% static 'users/dashboard/assets/css/styles.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'users/dashboard/assets/libs/simplebar/dist/simplebar.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'users/dashboard/assets/libs/tabler-icons/tabler-icons.css' %}"
    />
  </head>

  <body>
    
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <!-- NavbarADM START -->
      {% include 'dashboard/secciones/navbaradmin.html' %}
      <!-- NavbarADM END -->

      <!-- Sidebar Start -->
      {% include 'dashboard/secciones/asidebaradmin.html' %}
      <!--  Sidebar End -->

      <!--  Main wrapper -->
      <div class="body-wrapper">
        <!--  Header Start -->
        {% include 'dashboard/secciones/header.html' %}
        <!--  Header End -->

        {% block content %}
        <div class="body-wrapper-inner">
          <div class="container-fluid">
            <!--  Row 1 -->
            <div class="row">
              <div class="col-lg-8 d-flex align-items-strech">
                <div class="card w-100">
                  <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">
                      Usuarios
                      <button class="btn btn-primary">Crear Usuario</button>
                    </h5>

                    <div class="table-responsive" data-simplebar>
                      <table
                        class="table text-nowrap align-middle table-custom mb-0"
                      >
                        <thead>
                          <tr>
                            <th scope="col" class="text-dark fw-normal ps-0">
                              Usuario
                            </th>
                            <th scope="col" class="text-dark fw-normal">
                              Bloquear
                            </th>
                            <th scope="col" class="text-dark fw-normal">
                              Editar
                            </th>
                            <th scope="col" class="text-dark fw-normal">
                              Eliminar
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for usuario in profiles %}
                          <tr>
                            <td class="ps-0">
                              <div class="d-flex align-items-center gap-6">
                                <img
                                  src="{{ usuario.avatar.url }}"
                                  alt="avatar"
                                  width="50"
                                  class="rounded"
                                />

                                <div>
                                  {% if usuario.is_currently_blocked %}
                                  <h6
                                    class="mb-0"
                                    style="
                                      text-decoration: line-through;
                                      color: red;
                                    "
                                  >
                                    {{ usuario.user.username }} (Bloqueado hasta:
                                    {{ usuario.blocked_until|date:"d/m/y H:i" }})
                                  </h6>
                                  {% else %}
                                  <h6 class="mb-0">
                                    {{ usuario.user.username }}
                                  </h6>
                                  {% endif %}

                                  <span>{{ usuario.user.email }}</span>
                                </div>
                              </div>
                            </td>

                            <td>
                              {% if usuario.is_currently_blocked %}
                              <form
                                action="{% url 'desbloquearUsuario' usuario.user.id %}"
                                method="POST"
                              >
                                {% csrf_token %}
                                <button class="btn btn-warning btn-sm">
                                  Desbloquear
                                </button>
                              </form>
                              {% else %}
                              <a href="{% url 'bloquearUsuario' usuario.user.id %}" class="btn btn-danger btn-sm">
                                  Bloquear
                              </a>

                              {% endif %}
                            </td>

                            <td>
                              <span class="badge bg-success-subtle text-success"
                                >Editar</span
                              >
                            </td>

                            <td>
                              <form
                                action="{% url 'deleteUser' usuario.user.id %}"
                                method="POST"
                                onsubmit="return confirm('¿Eliminar este usuario?');"
                              >
                                {% csrf_token %}
                                <button class="btn btn-danger btn-sm">
                                  Eliminar
                                </button>
                              </form>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>

                    <!-- <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                    <div class="mb-3 mb-sm-0">
                      <h5 class="card-title fw-semibold">Facts</h5>
                    </div>
                    <div>
                      <select class="form-select">
                        <option value="1">March 2025</option>
                        <option value="2">April 2025</option>
                        <option value="3">May 2025</option>
                        <option value="4">June 2025</option>
                      </select>
                    </div>
                  </div> -->

                    <!-- <div id="revenue-forecast"></div> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex align-items-center gap-6 mb-4 pb-3">
                          <span
                            class="round-48 d-flex align-items-center justify-content-center rounded bg-secondary-subtle"
                          >
                            <iconify-icon
                              icon="solar:football-outline"
                              class="fs-6 text-secondary"
                            >
                            </iconify-icon>
                          </span>
                          <h6 class="mb-0 fs-4">Usuarios</h6>
                        </div>
                        <div
                          class="d-flex align-items-center justify-content-between mb-6"
                        >
                          <h6 class="mb-0 fw-medium">Usuarios registrados: Futura info</h6>
                          <!-- <h6 class="mb-0 fw-medium">50%</h6> -->
                        </div>

                        <!-- <div
                          class="progress"
                          role="progressbar"
                          aria-label="Basic example"
                          aria-valuenow="25"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="height: 7px"
                        >
                          <div
                            class="progress-bar bg-secondary"
                            style="width: 50%"
                          ></div> -->

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex align-items-center gap-6 mb-4">
                          <span
                            class="round-48 d-flex align-items-center justify-content-center rounded bg-danger-subtle"
                          >
                            <iconify-icon
                              icon="solar:box-linear"
                              class="fs-6 text-danger"
                            ></iconify-icon>
                          </span>
                          <h6 class="mb-0 fs-4">Informes</h6>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <h4>Cantidad de informes: </h4>

                            <!-- <span class="fs-11 text-success fw-semibold"
                              >+18%</span
                            > -->

                          </div>
                          <div class="col-6">
                            <div id="total-income"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 d-flex align-items-stretch">
                <div class="card w-100">
                  <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">
                      Facts <button class="btn btn-primary">Crear Fact</button>
                    </h5>

                    <div class="table-responsive" data-simplebar>
                      <table
                        class="table text-nowrap align-middle table-custom mb-0"
                      >
                        <thead>
                          <tr>
                            <th scope="col" class="text-dark fw-normal ps-0">
                              Titulo/Usuario
                            </th>
                            <th scope="col" class="text-dark fw-normal">
                              Ocultar
                            </th>
                            <th scope="col" class="text-dark fw-normal">
                              Editar
                            </th>
                            <th scope="col" class="text-dark fw-normal">
                              Eliminar
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for post in posts %}
                          <tr>
                            <td class="ps-0">
                              <div class="d-flex align-items-center gap-6">
                                <img
                                  src="{{ post.image.url }}"
                                  alt="prd1"
                                  width="50"
                                  class="rounded"
                                />
                                <div>
                                  <h6 class="mb-0">{{ post.title }}</h6>
                                  <span>{{ post.user }}</span>
                                </div>
                              </div>
                            </td>
                            <td>
                              <span>Ocultar</span>
                            </td>
                            <td>
                              <span class="badge bg-success-subtle text-success"
                                >Editar</span
                              >
                            </td>
                            <td>
                              <a
                                href="{% url 'deletePost' post.id %}"
                                style="
                                  border: 5ox black solid;
                                  text-decoration: none;
                                  background-color: red;
                                  padding: 5px;
                                  border-radius: 99px;
                                  color: white;
                                "
                                >Eliminar</a
                              >
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 d-flex align-items-stretch">
                <div class="card w-100">
                  <div class="card-body p-4">
                    <div class="mb-4">
                      <h5 class="card-title fw-semibold">Reportes</h5>
                    </div>
                    <!-- Tabla con los reportes -->
                    <!-- <ul class="timeline-widget mb-0 position-relative mb-n5">
                      <li
                        class="timeline-item d-flex position-relative overflow-hidden"
                      >
                        <div
                          class="timeline-time mt-n1 text-muted flex-shrink-0 text-end"
                        >
                          09:46
                        </div>
                        <div
                          class="timeline-badge-wrap d-flex flex-column align-items-center"
                        >
                          <span
                            class="timeline-badge bg-primary flex-shrink-0 mt-2"
                          ></span>
                          <span
                            class="timeline-badge-border d-block flex-shrink-0"
                          ></span>
                        </div>
                        <div class="timeline-desc fs-3 text-dark mt-n1">
                          Payment received from John Doe of $385.90
                        </div>
                      </li>
                      <li
                        class="timeline-item d-flex position-relative overflow-hidden"
                      >
                        <div
                          class="timeline-time mt-n6 text-muted flex-shrink-0 text-end"
                        >
                          09:46
                        </div>
                        <div
                          class="timeline-badge-wrap d-flex flex-column align-items-center"
                        >
                          <span
                            class="timeline-badge bg-warning flex-shrink-0"
                          ></span>
                          <span
                            class="timeline-badge-border d-block flex-shrink-0"
                          ></span>
                        </div>
                        <div
                          class="timeline-desc fs-3 text-dark mt-n6 fw-semibold"
                        >
                          New sale recorded
                          <a
                            href="javascript:void(0)"
                            class="text-primary d-block fw-normal"
                            >#ML-3467</a
                          >
                        </div>
                      </li>
                      <li
                        class="timeline-item d-flex position-relative overflow-hidden"
                      >
                        <div
                          class="timeline-time mt-n6 text-muted flex-shrink-0 text-end"
                        >
                          09:46
                        </div>
                        <div
                          class="timeline-badge-wrap d-flex flex-column align-items-center"
                        >
                          <span
                            class="timeline-badge bg-warning flex-shrink-0"
                          ></span>
                          <span
                            class="timeline-badge-border d-block flex-shrink-0"
                          ></span>
                        </div>
                        <div class="timeline-desc fs-3 text-dark mt-n6">
                          Payment was made of $64.95 to Michael
                        </div>
                      </li>
                      <li
                        class="timeline-item d-flex position-relative overflow-hidden"
                      >
                        <div
                          class="timeline-time mt-n6 text-muted flex-shrink-0 text-end"
                        >
                          09:46
                        </div>
                        <div
                          class="timeline-badge-wrap d-flex flex-column align-items-center"
                        >
                          <span
                            class="timeline-badge bg-secondary flex-shrink-0"
                          ></span>
                          <span
                            class="timeline-badge-border d-block flex-shrink-0"
                          ></span>
                        </div>
                        <div
                          class="timeline-desc fs-3 text-dark mt-n6 fw-semibold"
                        >
                          New sale recorded
                          <a
                            href="javascript:void(0)"
                            class="text-primary d-block fw-normal"
                            >#ML-3467</a
                          >
                        </div>
                      </li>
                      <li
                        class="timeline-item d-flex position-relative overflow-hidden"
                      >
                        <div
                          class="timeline-time mt-n6 text-muted flex-shrink-0 text-end"
                        >
                          09:46
                        </div>
                        <div
                          class="timeline-badge-wrap d-flex flex-column align-items-center"
                        >
                          <span
                            class="timeline-badge bg-danger flex-shrink-0"
                          ></span>
                          <span
                            class="timeline-badge-border d-block flex-shrink-0"
                          ></span>
                        </div>
                        <div
                          class="timeline-desc fs-3 text-dark mt-n6 fw-semibold"
                        >
                          Project meeting
                        </div>
                      </li>
                      <li
                        class="timeline-item d-flex position-relative overflow-hidden"
                      >
                        <div
                          class="timeline-time mt-n6 text-muted flex-shrink-0 text-end"
                        >
                          09:46
                        </div>
                        <div
                          class="timeline-badge-wrap d-flex flex-column align-items-center"
                        >
                          <span
                            class="timeline-badge bg-primary flex-shrink-0"
                          ></span>
                        </div>
                        <div class="timeline-desc fs-3 text-dark mt-n6">
                          Payment received from John Doe of $385.90
                        </div>
                      </li>
                    </ul> -->

                  </div>
                </div>
              </div>
            </div>

            <!-- Publicaciones (Artículos)-->
            <div class="row">

              {% for post in posts %}
              <div class="col-lg-4">
                <div class="card overflow-hidden hover-img">
                  <div class="position-relative">
                    <a href="javascript:void(0)">
                      <!-- Imagen del post: articuloimg -->
                      <img
                        src="{{ post.image.url }}" 
                        class="card-img-top"
                        alt="matdash-img"
                      />
                    </a>
                    <span
                      class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0"
                      >2 min Read (hace cuanto tiempo se publico el post)</span
                    >
                    <!-- Imagen del usuario que posteo: profileUserImg -->
                    <img
                      src="{{ post.user.profile.avatar.url }}"
                      alt="matdash-img"
                      class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9"
                      width="40"
                      height="40"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      data-bs-title="Georgeanna Ramero"
                    />
                  </div>
                  <div class="card-body p-4">
                    <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm mt-3"
                      >{{ post.user.username }}</span
                    >
                    <a
                      class="d-block my-4 fs-5 text-dark fw-semibold link-primary"
                      href=""
                      >{{ post.description }}</a
                    >
                    <div class="d-flex align-items-center gap-4">
                      <!-- <div class="d-flex align-items-center gap-2">
                        <i class="ti ti-eye text-dark fs-5"></i>9,125
                      </div> -->
                      <div class="d-flex align-items-center gap-2">
                        <i class="ti ti-message-2 text-dark fs-5"></i>Contador de comentarios
                      </div>
                      <div class="d-flex align-items-center fs-2 ms-auto">
                        <i class="ti ti-point text-dark"></i>{{ post.created }}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              {% endfor %}



              

            </div>
            <!-- Publicaciones Artículos END -->
             
            <div class="py-6 px-6 text-center">
              <p class="mb-0 fs-4">
                Design and Developed by
                <a
                  href="https://www.instagram.com/gonzaa.leivaa/"
                  target="_blank"
                  class="pe-1 text-primary text-decoration-underline"
                  >Leiva Gonzalo</a
                >
              </p>
            </div>
          </div>
        </div>
      {% endblock %}
      </div>
    </div>
    
    <!-- TEMPLATES SCRIPTS -->
    <script src="{% static 'users/dashboard/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'users/dashboard/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'users/dashboard/assets/libs/simplebar/dist/simplebar.min.js' %}"></script>

    <script src="{% static 'users/dashboard/assets/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'users/dashboard/assets/js/app.min.js' %}"></script>
    <script src="{% static 'users/dashboard/assets/js/dashboard.js' %}"></script>

    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  </body>
</html>
