<aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="#" class="text-nowrap logo-img">
            <span style="color: red; font-weight: bold;">AdminPanel</span>
            
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
              <span class="hide-menu">Atajos</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'blockUsuario' %}" aria-expanded="false">
                <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                <span class="hide-menu">Bloquear Usuario</span>
              </a>
            </li>
            <!-- ---------------------------------- -->
            <!-- Dashboard -->
            <!-- ---------------------------------- -->
            <li class="sidebar-item">
              <a class="sidebar-link justify-content-between disabled" 
                href="{% url 'eliminar_usuario' %}" aria-expanded="false">
                <div class="d-flex align-items-center gap-3">
                  <span class="d-flex">
                    <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                  </span>
                  <span class="hide-menu">Eliminar Usuario</span>
                </div>
                
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link justify-content-between"
                href="{% url 'advertirUser' %}" aria-expanded="false">
                <div class="d-flex align-items-center gap-3">
                  <span class="d-flex">
                    <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                  </span>
                  <span class="hide-menu">Advertir Usuario</span>
                </div>
                
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link justify-content-between"
                href="{% url 'adminReports' %}" aria-expanded="false">
                <div class="d-flex align-items-center gap-3">
                  <span class="d-flex">
                    <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                  </span>
                  <span class="hide-menu">Usuarios Reportados</span>
                </div>
                 
              </a>
            </li>


            <li>
              <span class="sidebar-divider lg"></span>
            </li>

            <li class="nav-small-cap">
              <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
              <span class="hide-menu">Usuarios</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'listaUsuarios' %}" aria-expanded="false">
                <iconify-icon icon="solar:shield-user-line-duotone" class=""></iconify-icon>
                <span class="hide-menu">Administración Usuarios</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'adminReports' %}" aria-expanded="false">
                <iconify-icon icon="solar:shield-user-line-duotone" class=""></iconify-icon>
                <span class="hide-menu">Reportados</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'listaAdvertencias' %}" aria-expanded="false">
                <iconify-icon icon="solar:shield-user-line-duotone" class=""></iconify-icon>
                <span class="hide-menu">Advertidos</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="#" aria-expanded="false">
                <iconify-icon icon="solar:shield-user-line-duotone" class=""></iconify-icon>
                <span class="hide-menu">Bloqueados</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link justify-content-between has-arrow" href="javascript:void(0)" aria-expanded="false">
                <div class="d-flex align-items-center gap-3">
                  <span class="d-flex">
                    <iconify-icon icon="solar:shield-user-line-duotone" class=""></iconify-icon>
                  </span>
                  <span class="hide-menu">Usuarios</span>
                </div>
              </a>
              <ul aria-expanded="false" class="collapse first-level">
                <li class="sidebar-item">
                  <a class="sidebar-link justify-content-between" 
                    href="{% url 'crearUsuario' %}">
                    <div class="d-flex align-items-center gap-3">
                      <span class="d-flex">
                        <span class="icon-small"></span>
                      </span>
                      <span class="hide-menu">Crear</span>
                    </div>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link justify-content-between" 
                    href="{% url 'adminReports' %}">
                    <div class="d-flex align-items-center gap-3">
                      <span class="d-flex">
                        <span class="icon-small"></span>
                      </span>
                      <span class="hide-menu">Eliminar</span>
                    </div>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link justify-content-between" 
                    href="#">
                    <div class="d-flex align-items-center gap-3">
                      <span class="d-flex">
                        <span class="icon-small"></span>
                      </span>
                      <span class="hide-menu">Advertir</span>
                    </div>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link justify-content-between" 
                    href="#">
                    <div class="d-flex align-items-center gap-3">
                      <span class="d-flex">
                        <span class="icon-small"></span>
                      </span>
                      <span class="hide-menu">Bloquear</span>
                    </div>
                  </a>
                </li>
              </ul>
            </li>

            
            <li>
              <span class="sidebar-divider lg"></span>
            </li>
            
            <li class="nav-small-cap">
              <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
              <span class="hide-menu">Públicaciones</span>
            </li>
            
            <li class="sidebar-item">
              <a class="sidebar-link justify-content-between"
                href="{% url 'listaInformes' %}"
                aria-expanded="false">
                <div class="d-flex align-items-center gap-3">
                  <span class="d-flex">
                    <iconify-icon icon="solar:document-text-line-duotone" class=""></iconify-icon>
                  </span>
                  <span class="hide-menu">Administrar Informes</span>
                </div>
                 
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link justify-content-between"
                href="{% url 'listaArticulos' %}" aria-expanded="false">
                <div class="d-flex align-items-center gap-3">
                  <span class="d-flex">
                    <iconify-icon icon="solar:document-text-line-duotone" class=""></iconify-icon>
                  </span>
                  <span class="hide-menu">Administrar Artículos</span>
                </div>
                 
              </a>
            </li>
          </ul>
         
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>